:root {
    --header: #a262e3;
}

html,
body {
    height: 100%;
    font-family: 'Poppins';font-size: 22px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0%;

    /* text-align: center;
      justify-content: center; */
}
.header {
    background-color: var(--header);
    height: 100%;
    color: white;

    padding: 20px;
   display: flex;
   align-items: center;
  justify-content: center;
}
.logo img {
    width: 90px;
    height: 90px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.home-logo {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    cursor: pointer;
}
.user {
     justify-content: center;
     

}
h1 {
    text-align:center
    
}